.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.flip-card-head, .flip-card-tail {
  background-color: transparent;
  width: 100%;
  height: 450px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card-tail .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  /* backface-visibility: hidden; */
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  /* background-color: #bbb; */
  color: black;
  /* transform: rotateY(180deg); */
}

/* Style the back side */
.flip-card-back {
  /* background-color: dodgerblue; */
  color: white;
  transform: rotateY(180deg);
}

/* disables text auto select and resolves ios input issues */
*, html {
  user-select: none;
  -webkit-user-select: text;
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* disable gray highlight */
}

body {
  /* disables pull to refresh */
  overscroll-behavior-y: contain;
  overscroll-behavior-x: contain;
  
  /* disables bounce scroll in ios */
  width: 100%;
  position: fixed;
  overflow: hidden;
}

.MuiCard-root:before {
  content: "";
	float: left;
	padding-top: 100%;
}

.aliceblue {
  background-color: aliceblue;
}

.MuiTypography-root {
  /* backface-visibility: hidden; */
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}